{% extends 'base.html' %} 
{% block contenido %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-ZAElWN6PqB8kyByGWGdIV6yB/wWw+2sBOnTgCZlb5B5KZl3IFIKo3sggs2pihGzwCwPbLjBOvDT6xg6lL7sR7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
    
<body>
    <title>Restablecer contraseña</title>
<div class="container-fluid px-1 py-5 mx-auto text-center">
    <h2 class="form-heading mb-4" style="font-family: 'Arial', sans-serif; font-weight: bold;">
    Correo de restablecimiento enviado
    </h2>
    <h5 class="form-heading mb-4" style="font-family: 'Arial', sans-serif; font-weight: bold;">
      Hemos enviado un correo con las instrucciones para restablecer tu contraseña. Si la cuenta existe, lo recibirá en breve.
      </h5>
      <h6 class="form-heading mb-4" style="font-family: 'Arial', sans-serif; font-weight: bold;">
         Si no has recibido nada, por favor, comprueba que has introducido un correo correcto y comprueba la bandeja de spam.
         </h6>
</div>
<br/>
<br/>
</body>
</html>
{% endblock%}
