{% extends "base.html" %}

{% block contenido %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% if documentos %}
            {% for doc in documentos %}
            <tr>
                <td>{{ doc.name }}</td>
                {% if doc.status == True %}
                    <td>Abierto</td>
                {% else %}
                    <td>Cerrado</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">Vacío</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}


