{% extends "base.html" %}
{% load static %}

{% block contenido %}
<h2 class="text-center">Documentos</h2>
<div class="contenedor-table">
    <table class="table table-borderless text-center tabla-personalizada">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Subida</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% if documentos %}
                {% for doc in documentos %}
                <tr class="spaceUnder">
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.start_date }}</td>
                    {% if doc.status == True %}
                        <td>Abierto</td>
                    {% else %}
                        <td>Cerrado</td>
                    {% endif %}
                    <td>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary">Editar</a>
                            <a href="#" class="btn btn-primary">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No hay documentos que mostrar</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="{%static 'css/docsList.css'%}"/>
{% endblock %}