{% extends 'base.html' %}
{% block title %}Subir documentos{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <h1>Subir PDF</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Subir PDF</button>
    </form>

    {% endblock %}
