<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Documents</title>
</head>
<body>
    <h1>LISTA DE CHATS A LOS QUE EL USUARIO TIENE ACCESO</h1>
    <ul>
        {% for document in possessed_documents %}
        <li>
            <a href="/documents/view_pdf/{{ document.id }}/chat">
                <h3>CHAT DE DOCUMENTO "{{ document.name }}"</h3>
            </a>
        </li>
        {% empty %}
            <li>No documents available</li>
        {% endfor %}
    </ul>
</body>