<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Profesional</title>
</head>
<body>
    <h1>Detalles del Profesional</h1>
    <p>Nombre de Usuario: {{ professional.username }}</p>
    <p>Nombre: {{ professional.first_name }} {{ professional.last_name }}</p>
    <p>Correo Electrónico: {{ professional.email }}</p>

    <p>Número de Teléfono: {{ professional.telephone_number }}</p>
    <p>Número de Licencia: {{ professional.license_number }}</p>

    <p>Contraseña: No se muestra por razones de seguridad</p>

</body>
</html>

