{% extends "base.html" %}
{% load static %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'css/list_pdf.css' %}"/>
<h2 class="text-center">Profesionales</h2>

  <form method="get" action="{% url 'professional_list' %}">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{ name_filter }}" placeholder="Enter name">
  </form>

<div class="contenedor-table">
    <table class="table table-borderless text-center tabla-personalizada">
        <thead>
            <tr>
                <th scope="col"><strong>Usuario</strong></th>
                <th scope="col"><strong>Email</strong></th>
                <th scope="col"><strong>Teléfono</strong></th>
                <th scope="col"><strong>Acciones</strong></th>
            </tr>
        </thead>
        <tbody>
            {% if professionals %}
                {% for professional in professionals %}
                <tr class="spaceUnder">
                    <td><strong> {{ professional.last_name }}, {{ professional.first_name }}</strong></td>
                    <td><strong>{{ professional.email }}</strong></td>
                    <td><strong>{{ professional.telephone_number }}</strong></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{% url 'professional_detail' pk=professional.id %}" class="btn btn-primary" style="border-radius: 5px; margin-right: 10px;"><strong>Ver</strong></a>
                            <form method="post" action="{% url 'delete_professional' id=professional.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="border-radius: 5px;"><strong>Eliminar</strong></button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay usuarios que mostrar.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a href="#" class="btn btn-primary"><strong>Añadir usuario</strong></a>
    </div>
</div>

{% endblock %}
