{% extends 'base.html' %}
{% load static %}
{% block encabezado %}{% endblock %}
{% block contenido %}
<style>
.center-box {
    margin: 100px auto;
    padding: 40px;
    border: 1px solid #ccc;
    background-color: #e0f7fa;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>
<body>
    <h2 class="text-center">Cambio de Contraseña</h2>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row d-flex justify-content-center">
        <div class=" text-center  center-box"  style="width: 30%;">
                        <form method="post" class="form-card" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>Error:</strong> Por favor, corrige los siguientes errores.
                                </div>
                            {% endif %}
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex mb-4">
                                    <label for="id_name" class="form-control-label px-3" style="font-family: 'Arial', sans-serif; font-weight: bold;">
                                        Contraseña antigua:
                                    </label>
                                    {{ form.old_password }}
                                    {% for error in form.old_password.errors %}
                                        <span class="error" style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex mb-4">
                                    <label for="id_name" class="form-control-label px-3" style="font-family: 'Arial', sans-serif; font-weight: bold;">
                                        Contraseña nueva:
                                    </label>
                                    {{ form.new_password1 }}
                                    {% for error in form.new_password1.errors %}
                                        <span class="error" style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-12 flex-column d-flex mb-4">
                                    <label for="id_name" class="form-control-label px-3" style="font-family: 'Arial', sans-serif; font-weight: bold;">
                                        Confirmar nueva contraseña:
                                    </label>
                                    {{ form.new_password2 }}
                                    {% for error in form.new_password2.errors %}
                                        <span class="error" style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
        <button type="submit" class="btn btn-primary"  style="margin-bottom: 5px;">Cambiar Contraseña</button>
    </form>
</div>
</div>
{% endblock %}
</body>
