{% extends 'base.html' %}
{% block title %}Detalles{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}

<style>
    .map-container {
        flex: 80; /* 80% del espacio */
        width: 100%; /* Ancho completo */
        height: 100vh; /* Altura total de la pantalla */
    }
    .list-container {
        flex: 20; /* 20% del espacio */
        overflow-y: auto; /* Hacer scroll solo si es necesario */
        padding: 10px; /* Espaciado interno */
        height: 100vh; /* Altura total de la pantalla */
        box-sizing: border-box; /* Incluir padding en la altura total */
    }

    /* Estilos para la lista de documentos */
    .document-list {
        list-style: none; /* Quitar viñetas de la lista */
        padding: 0; /* Quitar espaciado interno */
    }

    /* Estilos para los elementos de la lista */
    .document-item {
        margin-bottom: 10px; /* Espacio entre elementos */
    }
    .container-map {
        display: flex; /* Uso de flexbox */
        flex-direction: row; /* Columnas para que el contenido se alinee verticalmente */
        max-width: 100%; /* Ancho máximo de 100% */
        overflow: hidden; /* Ocultar cualquier desbordamiento */
    }
</style>
<div class="container-map">
    <div class="map-container">
        {{ mapa_html | safe }}
    </div>
</div>
    
        <script src="https://unpkg.com/folium/folium.js"></script>
{% endblock %}