{% extends 'base.html' %}
{% block title %}COCEMFE{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}
<div class="container">
    <h3 class="my-3"> Customer Terms</h3>
    <div class="d-flex flex-column">
        <a href="/media/other_documents/CustomerAgreement-EN-COCEMFE.pdf" style="color: blue !important; text-decoration: underline;">Customer Agreement (English)</a>
        <a href="/media/other_documents/CustomerAgreement-ES-COCEMFE.pdf" style="color: blue !important; text-decoration: underline;">Customer Agreement (Español)</a>
        <a href="/media/other_documents/PolíticasdePrivacidad-COCEMFE.pdf" style="color: blue !important; text-decoration: underline;">Políticas de Privacidad (Español)</a>
        <a href="/media/other_documents/PrivacyPolitics-COCEMFE.pdf" style="color: blue !important; text-decoration: underline;">Privacy Politics (English)</a>
    </div>
</div>

{% endblock %}