{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div class="container"><br>
    <h1 style="text-align: center;">Política de Términos y Condiciones</h1><br>
    <div class="terms-container">
        <div class="terms-text">
            <p> 
                El sitio web www.cocemfesevillaispp.com es propiedad de Cocemfe Sevilla, que es un controlador de datos de tus datos personales. 

                <br><br>
                Hemos adoptado esta Política de privacidad, que determina cómo procesamos la información recopilada por www.cocemfesevillaispp.com, que también proporciona las razones por las que debemos recopilar ciertos datos personales sobre ti. Por lo tanto, debes leer esta Política de privacidad antes de usar el sitio web de www.cocemfesevillaispp.com.
                <br><br>
                
                Cuidamos tus datos personales y nos comprometemos a garantizar su confidencialidad y seguridad.
                Información personal que recopilamos:
                <br><br>
                
                Cuando visitas www.cocemfesevillaispp.com, recopilamos automáticamente cierta información sobre tu dispositivo, incluida información sobre tu navegador web, dirección IP, zona horaria y algunas de las cookies instaladas en tu dispositivo. Además, a medida que navegas, recopilamos información sobre las páginas web individuales o los productos que ves, qué sitios web o términos de búsqueda te remitieron a la web y cómo interactúas. Nos referimos a esta información recopilada automáticamente como "Información del dispositivo". Además, podemos recopilar los datos personales que nos proporcionas (incluidos, entre otros, nombre, apellido, dirección, información de pago, etc.) durante el registro para poder cumplir con el acuerdo.
                ¿Por qué procesamos tus datos?
                <br><br>
                
                Nuestra máxima prioridad es la seguridad de los datos del cliente y, como tal, podemos procesar solo los datos mínimos del usuario, solo en la medida en que sea absolutamente necesario para mantener el sitio web. La información recopilada automáticamente se utiliza solo para identificar casos potenciales de abuso y establecer información estadística sobre el uso del sitio web. Esta información estadística no se agrega de tal manera que identifique a ningún usuario en particular del sistema.
                <br><br>
                
                Puedes visitar la web sin decirnos quién eres ni revelar ninguna información por la cual alguien pueda identificarte como una persona específica. Sin embargo, si deseas utilizar algunas de las funciones del sitio web, o deseas recibir nuestro boletín informativo o proporcionar otros detalles al completar un formulario, puedes proporcionarnos datos personales, como tu correo electrónico, nombre, apellido, ciudad de residencia, organización y número de teléfono. Puedes optar por no proporcionar tus datos personales, pero es posible que no puedas aprovechar algunas de las funciones del sitio web. Por ejemplo, no podrás recibir nuestro boletín ni contactarnos directamente desde el sitio web. Los usuarios que no estén seguros de qué información es obligatoria pueden ponerse en contacto con nosotros a través de cocemfesevilla@cocemfe.com.
                Tus derechos:
                <br><br>
                
                Si eres residente europeo, tienes los siguientes derechos relacionados con tus datos personales:
                <br>
                    El derecho a ser informado.<br>
                    El derecho de acceso.<br>
                    El derecho a la rectificación.<br>
                    El derecho a borrar.<br>
                    El derecho a restringir el procesamiento.<br>
                    El derecho a la portabilidad de datos.<br>
                    El derecho a oponerte.<br>
                    Derechos en relación con la toma de decisiones automatizada y la elaboración de perfiles.
                    <br><br>
                
                Si deseas ejercer este derecho, comunícate con nosotros a través de la información de contacto a continuación.
                <br><br>
                
                Además, si eres residente europeo, destacamos que estamos procesando tu información para cumplir con los contratos que podríamos tener contigo (por ejemplo, si realizas un pedido a través de la web), o de otra manera para seguir nuestros intereses comerciales legítimos enumerados anteriormente. Además, ten en cuenta que tu información puede transferirse fuera de Europa, incluidos Canadá y Estados Unidos.
                Enlaces a otros sitios web:
                <br><br>
                
                Nuestra web puede contener enlaces a otros sitios web que no son de nuestra propiedad ni están controlados por nosotros. Ten en cuenta que no somos responsables de dichos sitios web ni de las prácticas de privacidad de terceros. Te recomendamos que estés atento cuando abandones nuestro sitio web y leas las declaraciones de privacidad de cada web que pueda recopilar información personal.
                Seguridad de la información:
                <br><br>
                
                Aseguramos la información que proporcionas en servidores informáticos en un entorno controlado y seguro, protegido del acceso, uso o divulgación no autorizados. Mantenemos medidas de seguridad administrativas, técnicas y físicas razonables para proteger contra el acceso no autorizado, el uso, la modificación y la divulgación de datos personales bajo su control y custodia. Sin embargo, no se puede garantizar la transmisión de datos a través de Internet o redes inalámbricas.
                Divulgación legal:
                <br><br>
                
                Divulgaremos cualquier información que recopilemos, usemos o recibamos si así lo requiere o lo permite la ley, como para cumplir con una citación o un proceso legal similar, y cuando creemos de buena fe que la divulgación es necesaria para proteger nuestros derechos, proteger tu seguridad o la seguridad de los demás, investigar el fraude o responder a una solicitud del gobierno.
                Información de contacto:
                <br><br>
                
                Si deseas comunicarte con nosotros para comprender más sobre esta Política o deseas comunicarte con nosotros en relación con cualquier asunto sobre los derechos individuales y tu información personal, puedes enviarnos un correo electrónico a cocemfesevilla@cocemfe.com. 
                </p>
        </div>
    </div>
    <div class="accept-terms">
        <form method="post">
            {% csrf_token %}
            <div style="font-weight: bold; font-size: 1.2em;">
                {{ form.as_p }}
                <br>
            </div>
            <button class="btn btn-orange me-5" type="submit">Guardar</button>
        </form>
    </div>
    <br />

</div>
{% endblock %}
