{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div class="container"><br>
    <h1>Acuerdo de cliente</h1>
    <p>¡Bienvenido/a a Cocemfe Sevilla!</p>
    <p>El presente Acuerdo del Usuario de Cocemfe Sevilla (el "Acuerdo") contiene los términos y condiciones que regirán su acceso y uso de los Servicios (como se define más adelante) y constituye un acuerdo entre la Parte Contratante correspondiente de Cocemfe Sevilla (también referida como "Cocemfe Sevilla", "nosotros", "nos" o "nuestro") y usted o la entidad que usted representa ("usted" o "su/s"). Este Acuerdo entrará en vigor cuando haga clic en el botón "Acepto" o marque la casilla presentada con estos términos o, si fuera anterior, cuando utilice alguno de los Servicios (la "Fecha de Entrada en Vigor"). Usted declara tener la capacidad legal para celebrar contratos (por ejemplo, no ser menor de edad).</p>
    
    <h4>1. Aceptación de términos.<br></h4>
    <p>Este Acuerdo describe los términos bajo los cuales se proporciona el Servicio a usted ("Cliente"). Para acceder a todas las funciones del Servicio, deberá revisar y aceptar el Acuerdo del Cliente completo.</p>

    <h4>2. Descripción del Servicio.</h4>
    <p>Cocemfe ofrece un gestor de documentos en línea que le permite solicitar modificaciones para ajustar correctamente los planes de accesibilidad y cumplir con todas las regulaciones. El Servicio puede actualizarse, expandirse o limitarse periódicamente con aviso previo a los usuarios.</p>

    <h4>3. Uso del Servicio.</h4>
    <p>Usted acepta usar el Servicio solo para fines lícitos y de acuerdo con este Acuerdo. Usted es responsable de todas las actividades realizadas bajo su cuenta.</p>

    <h4>4. Cuentas de Usuario.</h4>
    <p>Para acceder a ciertas funciones del Servicio, es posible que deba crear una cuenta. Usted acepta proporcionar información precisa y completa, y mantener esta información actualizada.</p>

    <h4>5. Política de Privacidad.</h4>
    <p>Su privacidad es importante para nosotros. Nuestra Política de Privacidad explica cómo recopilamos, usamos y protegemos su información personal. El enlace se añadirá pronto.</p>

    <h4>6. Pagos</h4>
    <p>Si el Servicio requiere pago, usted acepta pagar todas las tarifas aplicables según se describe en el sitio web del Servicio o dentro del Servicio. Todas las tarifas son no reembolsables, excepto según se disponga expresamente en este Acuerdo.</p>

    <h4>7. Propiedad Intelectual.</h4>
    <p>Todo el contenido y los materiales proporcionados en el Servicio son propiedad intelectual de Cocemfe o sus licenciantes y están protegidos por leyes de derechos de autor y otras leyes de propiedad intelectual.</p>

    <h4>8. Terminación.</h4>
    <p>En caso de violación de este Acuerdo por parte de usuarios que utilicen este servicio, el mismo será terminado.</p>

    <h4>9. Limitación de responsabilidad.</h4>
    <p>Cocemfe Sevilla no es responsable del mal uso de esta herramienta por parte de los usuarios finales. Los usuarios finales son responsables de utilizar la herramienta de manera apropiada.</p>

    <h4>10. Cambios en el Acuerdo.</h4>
    <p>Los usuarios serán notificados con al menos 30 días de antelación sobre cualquier cambio en el acuerdo y tendrán la opción de aceptarlos o retirarse. Si los cambios no son aceptados, su capacidad para utilizar el servicio será terminada.</p>

    <h4>11. Ley Aplicable.</h4>
    <p>Ley aplicable de España, a menos que menoscabe los derechos del consumidor en su país de residencia.</p>

    <h4>12. Cumplimiento del GDPR.</h4>
    <p>Cocemfe Sevilla cumple con el Reglamento General de Protección de Datos (RGPD) con respecto a la recopilación, procesamiento y protección de datos personales.</p>

    <h4>13. Información de contacto.</h4>
    <p>Si tiene alguna pregunta sobre este Acuerdo, contáctenos en cocemfesevillanotificaciones@gmail.com.</p><br><br>
    <h1 style="text-align: center;">Políticas de privacidad</h1><br>
    <div class="terms-container">
        <div class="terms-text">
            <p> 
                El sitio web www.cocemfesevillaispp.com es un controlador de datos de tus datos personales, propiedad de Cocemfe Sevilla.

                <br><br>
                Hemos adoptado esta Política de privacidad, que determina cómo procesamos la información recopilada por www.cocemfesevillaispp.com, que también proporciona las razones por las que debemos recopilar ciertos datos personales sobre ti. Por lo tanto, debes leer esta Política de privacidad antes de usar el sitio web de www.cocemfesevillaispp.com.
                <br><br>
                
                Cuidamos tus datos personales y nos comprometemos a garantizar su confidencialidad y seguridad.
                Información personal que recopilamos:
                <br><br>
                
                Cuando visitas www.cocemfesevillaispp.com, recopilamos automáticamente cierta información sobre tu dispositivo, incluida información sobre tu navegador web, dirección IP, zona horaria y algunas de las cookies instaladas en tu dispositivo. Además, a medida que navegas, recopilamos información sobre las páginas web individuales o los productos que ves, qué sitios web o términos de búsqueda te remitieron a la web y cómo interactúas. Nos referimos a esta información recopilada automáticamente como "Información del dispositivo". Además, podemos recopilar los datos personales que nos proporcionas (incluidos, entre otros, nombre, apellido, dirección, información de pago, etc.) durante el registro para poder cumplir con el acuerdo.
                ¿Por qué procesamos tus datos?
                <br><br>
                
                Nuestra máxima prioridad es la seguridad de los datos del cliente y, como tal, podemos procesar solo los datos mínimos del usuario, solo en la medida en que sea absolutamente necesario para mantener el sitio web. La información recopilada automáticamente se utiliza solo para identificar casos potenciales de abuso y establecer información estadística sobre el uso del sitio web. Esta información estadística no se agrega de tal manera que identifique a ningún usuario en particular del sistema.
                <br><br>
                
                Puedes visitar la web sin decirnos quién eres ni revelar ninguna información por la cual alguien pueda identificarte como una persona específica. Sin embargo, si deseas utilizar algunas de las funciones del sitio web, o deseas recibir nuestro boletín informativo o proporcionar otros detalles al completar un formulario, puedes proporcionarnos datos personales, como tu correo electrónico, nombre, apellido, ciudad de residencia, organización y número de teléfono. Puedes optar por no proporcionar tus datos personales, pero es posible que no puedas aprovechar algunas de las funciones del sitio web. Por ejemplo, no podrás recibir nuestro boletín ni contactarnos directamente desde el sitio web. Los usuarios que no estén seguros de qué información es obligatoria pueden ponerse en contacto con nosotros a través de cocemfesevilla@cocemfe.com.
                Tus derechos:
                <br><br>
                
                Si eres residente europeo, tienes los siguientes derechos relacionados con tus datos personales:
                <br>
                    El derecho a ser informado.<br>
                    El derecho de acceso.<br>
                    El derecho a la rectificación.<br>
                    El derecho a borrar.<br>
                    El derecho a restringir el procesamiento.<br>
                    El derecho a la portabilidad de datos.<br>
                    El derecho a oponerte.<br>
                    Derechos en relación con la toma de decisiones automatizada y la elaboración de perfiles.
                    <br><br>
                
                Si deseas ejercer este derecho, comunícate con nosotros a través de la información de contacto a continuación.
                <br><br>
                
                Además, si eres residente europeo, destacamos que estamos procesando tu información para cumplir con los contratos que podríamos tener contigo (por ejemplo, si realizas un pedido a través de la web), o de otra manera para seguir nuestros intereses comerciales legítimos enumerados anteriormente. Además, ten en cuenta que tu información puede transferirse fuera de Europa, incluidos Canadá y Estados Unidos.
                Enlaces a otros sitios web:
                <br><br>
                
                Nuestra web puede contener enlaces a otros sitios web que no son de nuestra propiedad ni están controlados por nosotros. Ten en cuenta que no somos responsables de dichos sitios web ni de las prácticas de privacidad de terceros. Te recomendamos que estés atento cuando abandones nuestro sitio web y leas las declaraciones de privacidad de cada web que pueda recopilar información personal.
                Seguridad de la información:
                <br><br>
                
                Aseguramos la información que proporcionas en servidores informáticos en un entorno controlado y seguro, protegido del acceso, uso o divulgación no autorizados. Mantenemos medidas de seguridad administrativas, técnicas y físicas razonables para proteger contra el acceso no autorizado, el uso, la modificación y la divulgación de datos personales bajo su control y custodia. Sin embargo, no se puede garantizar la transmisión de datos a través de Internet o redes inalámbricas.
                Divulgación legal:
                <br><br>
                
                Divulgaremos cualquier información que recopilemos, usemos o recibamos si así lo requiere o lo permite la ley, como para cumplir con una citación o un proceso legal similar, y cuando creemos de buena fe que la divulgación es necesaria para proteger nuestros derechos, proteger tu seguridad o la seguridad de los demás, investigar el fraude o responder a una solicitud del gobierno.
                Información de contacto:
                <br><br>
                
                Si deseas comunicarte con nosotros para comprender más sobre esta Política o deseas comunicarte con nosotros en relación con cualquier asunto sobre los derechos individuales y tu información personal, puedes enviarnos un correo electrónico a cocemfesevilla@cocemfe.com. 
                </p>
        </div>
    </div>
    <div class="accept-terms">
        <form method="post">
            {% csrf_token %}
            <div style="font-weight: bold; font-size: 1.2em;">
                {{ form.as_p }}
                <br>
            </div>
            <button class="btn btn-orange me-5" type="submit">Guardar</button>
        </form>
    </div>
    <br />

</div>
{% endblock %}
