{% extends 'base.html' %}
{% block title %}COCEMFE{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}
<style>
    body, html {
        height: 95%;
        margin: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around; /* Espacio entre los divs */
        align-items: stretch;
        height: 100%;
    }
    .top {
        margin-top: 10px;
        display: flex;
        height: 65%;
        justify-content: space-between; /* Espacio entre los divs */
    }
    .left {
        width: 60%; 
        background-color: #f7f7f7;
        border-radius: 15px;
        padding: 20px;
        overflow: hidden; /* Asegura que el contenido no sobresalga */
        
    }
    .right {
        width: 38%; /* Ajusta el tamaño para mantener el diseño */
        background-color: #f7f7f7;
        border-radius: 15px;
        padding: 20px;
    }
    .bottom {
        height: 25%;
        background-color: #f7f7f7;
        border-radius: 15px;
        padding: 5px;
        margin-top: 20px; /* Espacio entre el top y el bottom */
    }
    .button-container {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around; /* Espacio entre los divs */
    }
    .button {
        display: inline-block;
        background-color: #003c69;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .button a {
        color: #ffffff !important; /* Aumentamos la especificidad */
        text-decoration: none; /* Quitar subrayado del enlace */
    }
</style>
<div class="container">
    <div class="top">
        <div class="left">
            <div id='calendar' class='my-2 space-y-1 mb-4' style="height: 100%; max-height: 100%; overflow: auto;"></div>
        </div>
        <div class="right">
            <h3 class="my-2 text-center">Documentos</h3>
            <form method="GET" action="{% url 'list_pdf' %}">
                <div class="input-group mb-3 col-3">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
                    <input type="text" class="form-control form-control-xs" name="name" placeholder="Nombre..." aria-label="Buscar por nombre" aria-describedby="button-addon1" style="width: 200px;" value="{{ request.GET.name|default_if_none:'' }}">
                    {% if request.GET.name %}
                        <button type="button" class="btn btn-outline-secondary" onclick="clearFilter()" title="Borrar filtro">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.354 4.354a.5.5 0 0 1 0 .708L8 8l-3.646 3.646a.5.5 0 0 1-.708-.708L7.293 8 3.646 4.354a.5.5 0 0 1 .708-.708L8 7.293l3.646-3.646a.5.5 0 0 1 .708.708L8.707 8l3.647 3.646a.5.5 0 0 1-.708.708L8 8.707l-3.646 3.647a.5.5 0 0 1-.708-.708L7.293 8 3.646 4.354a.5.5 0 0 1 .708-.708z"/>
                            </svg>
                        </button>
                    {% endif %}
                </div>
            </form>
            <div class="relative w-full overflow-auto" style="max-height: 400px;">
                <table class="w-full caption-bottom text-sm">
                    <thead class="[&amp;_tr]:border-b sticky">
                        <tr class="border-b border-gray-200 transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground" style="color: black;">
                                Nombre
                            </th>
                            <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">
                                Estado
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if documentos %}
                            {% for doc in documentos %}
                                {% if forloop.counter|divisibleby:2 %}
                                    <tr class="bg-gray-100 border-b border-gray-200 transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                {% else %}
                                    <tr class="border-b border-gray-200 transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                {% endif %}
                                    <td class="p-4 align-middle">
                                        <a href="{% url 'view_pdf_admin' doc.id %}" class="font-semibold text-[#00bfa5]" style="max-width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block;">{{ doc.name }}</a>
                                    </td>
                                    <td class="p-4 align-middle">
                                        {% for status_value, status_display in doc.STATUS %}
                                            {% if doc.status == status_value %}
                                                {{ status_display }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="p-4 text-center">No hay documentos que mostrar.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if request.user.is_superuser %}
        <div class="bottom">
            <h3 class="my-2 mb-5 text-center">Acciones rápidas</h3>
            <div class="button-container" >
                <a href="{% url 'upload_pdf' %}" class="btn btn-orange">+ Subir documento</a>
                <a href="{% url 'professionals:create_professional' %}" class="btn btn-orange">+ Nuevo profesional</a>
                <a href="{% url 'organizations:create_organization' %}" class="btn btn-orange">+ Añadir organización</a>
            </div>
        </div>
    {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" rel="stylesheet" />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/locale/es.js'></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: "/calendars/all_events",
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            locale: 'es',
            selectable: true,
            selectHelper: true,
            eventLimit: true,
            eventDisplay: 'list-item'
        });
        calendar.render();
    });
</script>

{% endblock %}
