{% extends "base.html" %}
{% load static %}

{% block contenido %}

<link rel="stylesheet" href="{% static 'css/list_pdf.css' %}"/>
<h2 class="text-center">Documentos</h2>
<div class="contenedor-table">
    <table class="table table-borderless text-center tabla-personalizada">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Subida</th>
                <th scope="col">Fecha de Cierre</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% if documentos %}
                {% for doc in documentos %}
                <tr class="spaceUnder">
                    <td>
                        <a href="{% url 'view_pdf_admin' doc.id %}" style="color: black;"> {{ doc.name }} </a>
                    </td>
                    <td>{{ doc.start_date }}</td>
                    <td>{{ doc.end_date }}</td>
                    {% if doc.status == True %}
                        <td>Abierto</td>
                    {% else %}
                        <td>Cerrado</td>
                    {% endif %}
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{% url 'update_pdf' pk=doc.pk %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'delete_pdf' pk=doc.pk %}" class="btn btn-primary">Eliminar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No hay documentos que mostrar</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="text-right mb-2">
        <a href="{% url 'upload_pdf' %}" class="btn btn-primary">Subir documento</a>
    </div>
</div>

{% endblock %}
