{% extends 'base.html' %}
{% block title %}Modificar Documento{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}
<style>
    .center-box {
        width: 50%;
        margin: 100px auto;
        padding: 70px;
        border: 1px solid #ccc;
        background-color: #e0f7fa;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .form-heading {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 28px;
        color: rgb(26, 8, 77);
    }

    .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    label {
        width: 30%;
        text-align: left;
    }

    input[type="text"], input[type="file"], input[type="date"], button, select {
        border-radius: 25px;
        border: 1px solid #ccc;
        padding: 8px;
        width: calc(70% - 16px);
        box-sizing: border-box;
    }

    .button-container {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    button {
        width: auto;
        padding: 8px 35px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color: #1f085e;
        color: white;
        cursor: pointer;
    }

    button:hover {
        background-color: #1f085e;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="center-box">
    <h1 class="form-heading">Modificar Documento</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name"><b>Nombre:</b></label>
            <input type="text" id="name" name="name" value="{{ document.name }}">
        </div>
        <div class="form-group">
            <label for="suggestion_end_date"><b>Fecha de Fin de Sugerencias:</b></label>
            <input type="date" id="suggestion_end_date" name="suggestion_end_date" value="{{ document.suggestion_end_date }}">
        </div>
        <div class="form-group">
            <label for="users"><b>Profesionales:</b></label>
            {{ form.professionals }}
        </div>
        <div class="form-group">
            <label for="status"><b>Estado:</b></label>
            <select name="status" id="status">
                {% for status in document.STATUS %}
                    <option value="{{ status.0 }}" {% if document.status == status.0 %} selected {% endif %}>{{ status.1 }}</option>
                {% endfor %}
            </select>
        </div>        
        <div class="button-container">
            <button type="submit">Guardar Cambios</button>
        </div>
    </form>
</div>
{% endblock %}
