{% extends 'base.html' %}
{% block title %}Subir documentos{% endblock %}
{% block encabezado %}
{% endblock %}
{% block contenido %}


<style>
    .center-box {
        width: 50%; /* Ancho del recuadro */
        margin: 100px auto; /* Margen automático para centrarlo horizontalmente y separación superior de 50px */
        padding: 70px; /* Espacio interior del recuadro */
        border: 1px solid #ccc; /* Borde del recuadro */
        background-color: #e0f7fa; /* Fondo celeste */
        border-radius: 15px; /* Esquinas redondeadas */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
        position: relative; /* Posición relativa para los elementos absolutos */
    }

    .form-heading {
        position: absolute; /* Posición absoluta para alinear el texto */
        top: -40px; /* Posiciona el texto arriba del recuadro */
        left: 50%; /* Lo alinea horizontalmente con el centro */
        transform: translateX(-50%); /* Ajusta el centrado horizontal */
        text-align: center; /* Alinea el texto al centro */
        font-size: 28px; /* Tamaño de fuente más pequeño */
        color: rgb(26, 8, 77); /* Color de fuente azul */
    }

    .form-group {
        display: flex; /* Utilizamos flexbox para organizar los elementos */
        align-items: center; /* Centramos verticalmente los elementos */
        justify-content: space-between; /* Espacio uniforme entre los elementos */
        margin-bottom: 20px; /* Ajustamos el margen inferior para agregar espacio */
    }

    label {
        width: 30%; /* Ancho para los nombres de los campos */
        text-align: left; /* Alineamos los nombres a la izquierda */
    }

    input[type="text"], input[type="file"], input[type="date"], button {
        border-radius: 25px; /* Bordes redondeados para los inputs y botón */
        border: 1px solid #ccc; /* Borde ligero */
        padding: 8px; /* Espaciado interno */
        width: calc(70% - 16px); /* Ancho para los campos de texto y botón */
        box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
    }

    .button-container {
        position: absolute; /* Posición absoluta para el contenedor del botón */
        bottom: 20px; /* Posiciona el contenedor 20px desde la parte inferior */
        right: 20px; /* Posiciona el contenedor 20px desde el lado derecho */
    }

    button {
        width: auto; /* Cambiar a ancho automático */
        padding: 8px 35px; /* Ajustar el relleno según sea necesario */
        font-size: 14px; /* Reducir el tamaño del texto */
        border-radius: 10px; /* Bordes redondeados para el botón */
        border: 1px solid #ccc; /* Borde ligero */
        background-color: #1f085e; /* Fondo verde */
        color: white; /* Texto blanco */
        cursor: pointer; /* Cursor de puntero */
    }

    button:hover {
        background-color: #1f085e; /* Cambio de color al pasar el cursor */
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <div class="center-box">
        <h1 class="form-heading">NUEVO DOCUMENTO</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_name"><b>Nombre:</b></label>
                <input type="text" name="name" id="id_name">
            </div>

            <div class="form-group">
                <label for="id_ubication"><b>Ubicación:</b></label>
                <input type="text" name="ubication" id="id_ubication">
            </div>

            <div class="form-group">
                <label for="id_pdf_file"><b>Seleccione un archivo:</b></label>
                <input type="file" name="pdf_file" id="id_pdf_file">
            </div>

            <div class="form-group">
                <label for="id_end_date"><b>Fecha de cierre:</b></label>
                <input type="date" name="end_date" id="id_end_date">
            </div>

            <div class="form-group">
                <label><b>Añade revisores:</b></label><br>
                {% for professional in form.professionals.field.queryset %}
                    {% if professional in professionals_not_superuser %}
                        <input type="checkbox" id="id_professional_{{ professional.id }}" name="professionals" value="{{ professional.id }}">
                        <label for="id_professional_{{ professional.id }}">{{ professional.username }}</label><br>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="button-container">
                <button type="submit">Crear</button>
            </div>
        </form>
    </div>

{% endblock %}
