{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view_pdf.css' %}">
<h2 class="text-center">Detalles de documento</h2>
<div class='doc-container'>
    <div class="doc-info">
        <p><strong>Documento:</strong> {{ pdf.name }}</p>
        <p><strong>Plazo:</strong> {{ pdf.start_date }} - {{ pdf.end_date }}</p>
        <p><strong>Ubicación:</strong> {{ pdf.ubication }}</p>
        <p class="estado-{{ pdf.status|lower }}">{{ pdf.status }}</p>
    </div>
    <div class="row">
        {% if pdf.pdf_file %}
        <div class="doc-visualizer">
            <iframe src="{{ pdf.pdf_file.url }}"></iframe>
        </div>
        {% else %}
        <div class="doc-visualizer">
            <p>No hay archivo adjunto.</p>
        </div>
        {% endif %}
        <div class="doc-comments">
            <!-- Aquí puedes colocar el contenido de los comentarios -->
            <h3>Comentarios</h3>
        </div>
    </div>
    {% if request.user.is_staff or request.user in pdf.professionals.all %}
    <div class="chat-button">
        <a href="{% url 'view_pdf_chat' pk=pdf.pk %}">Acceder al chat privado</a>
    </div>
    {% endif %}
</div>
{% endblock %}
