{% extends "base.html" %}
{% load static %}

{% block contenido %}
<style>
    .contenedor-table {
        border-radius: 10px;
        background-color: rgba(0, 162, 152, 0.25);
        padding: 10px;
        margin-right: 25px;
        margin-left: 25px;
    }

    .tabla-personalizada th {
        font-size: large;
    }

    .tabla-personalizada td {
        background-color: white;
        font-size: large;
    }

    td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .tabla-personalizada {
        border-collapse: separate;
        border-spacing: 0 15px;
    }
</style>
<div class="container-fluid">
    <h2 class="text-center">Organizaciones</h2>
    {% if messages %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div id="errorMessage" class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        <small>{{ message }}</small><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <script>
        setTimeout(function() {
            var errorMessage = document.getElementById('errorMessage');
            errorMessage.style.display = 'none';
        }, 20000);
    </script>
    {% endif %}
    <div class="row">
        <div class="col-md-10">
            <div class="contenedor-table">
                <table class="table table-borderless text-center tabla-personalizada">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if organizations %}
                            {% for org in organizations %}
                            <tr class="spaceUnder">
                                <td>
                                    <a href="{% url 'organizations:get_organization' pk=org.pk %}" style="color: black;"> {{ org.name }} </a>
                                </td>
                                <td>{{ org.telephone_number }}</td>
                                <td>{{ org.email }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="{% url 'organizations:update_organization' pk=org.pk %}" class="btn btn-primary">Editar</a>
                                        <a href="{% url 'organizations:delete_organization' pk=org.pk %}" class="btn btn-primary">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No hay organizaciones que mostrar</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <div class="text-right mb-2">
                    <a href="{% url 'organizations:create_organization' %}" class="btn btn-primary">Crear una organizacion</a>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}