.contenedor-table{
    border-radius: 10px; 
    background-color: rgb(160 226 229); 
    padding: 10px;
    margin: 0 auto; /* Centrar horizontalmente */
    width: 99%; /* Ajusta según tus necesidades */
}

.scroll-messages{
    overflow-y: auto;
    max-height: 400px;
}

.user-label{
    background-color: rgb(248 255 232);
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
    border-color: black;
    border: 2px solid black;
    margin-bottom: 0;
}

.message-box{
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    border-color: black;
    border: 2px solid black;
    padding: 5px;

}

.message-date{
    font-size: 0.8em; /* Ajusta el tamaño de la fuente según tus necesidades */
    transform-origin: left bottom; /* Establece el origen de la rotación en la esquina inferior izquierda */
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
    position: relative;
    bottom: 0;
    left: 0;
}

.textarea-style{
    width: 20%; /* Ajusta el ancho según tus necesidades */
    border-radius: 8px; /* Ajusta el radio del borde según tus necesidades */
    border: 1px solid #ccc; /* Añade un borde para visualizar el área del textarea */
    padding: 8px; /* Añade un relleno para separar el texto del borde */
    resize: none;
}

.textarea-container{
    padding: 8px;
    align-items: flex-start; 
}

.btn-enviar {
    align-self: flex-end;
    margin-top: -10px;
}
