.doc-container {
    background-color: rgba(0, 162, 152, 0.25); /* Color con transparencia */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; /* Centra el div horizontalmente */
    width: 90%;
}

.doc-info {
    margin-bottom: 20px; /* Agregar un espacio entre los elementos */
    display: flex;
    flex-direction: row; /* Organiza los elementos en una sola fila */
    justify-content: space-between; /* Distribuye los elementos en los extremos */
}

.doc-info p {
    font-size: x-large;
    margin: 0; /* Elimina los márgenes */
}

.doc-info p strong {
    font-weight: bold;
}


.doc-visualizer {
    margin-bottom: 20px; 
    width: 65%; 
}

.doc-visualizer iframe {
    width: 100%; /* El visor de PDF ocupa todo el ancho disponible */
    height: 600px; /* Altura fija para el visor de PDF */
    border: none; /* Para eliminar el borde predeterminado */
}

.doc-comments {
    width: 35%; /* Ancho del contenedor de comentarios */
    padding-left: 20px; /* Agregar un espacio entre los elementos */
}

.estado-abierto,
.estado-cerrado,
.estado-en-revision,
.estado-revisado,
.estado-aprobado,
.estado-rechazado {
    width: fit-content; /* Ajusta el ancho al contenido del texto */
    padding: 5px 10px;
    border-radius: 20px;
}

/* Estilos para el formulario de comentarios */

.comment-form-container {
    width: 65%;
    padding-left: 10px;
    background-color: #fff; /* Color de fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.comment-field {
    margin-bottom: 15px; /* Espaciado entre campos */
}

.comment-field label {
    display: block; /* Mostrar etiqueta como bloque */
    font-weight: bold; /* Texto en negrita */
}

.comment-field input,
.comment-field textarea,
.comment-field select {
    width: 100%; /* Ancho completo del campo */
    padding: 8px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir borde en el ancho total */
}

button[type="submit"] {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el cursor */
}

/* Estilo para los comentario */

.comments-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.comment-box {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.comment-box:hover {
    /* Estilos cuando pasas el cursor sobre el comentario */
    background-color: #f0f0f0; /* Cambia el fondo */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
  }

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
}

.comment-content p {
    margin: 0;
    color: black;
    font-weight: bold;
}

/* Ajusta los colores de fondo y texto para cada estado */
.estado-abierto { background-color: #2ecc71; color: white; }
.estado-cerrado { background-color: #e74c3c; color: white; }
.estado-en-revision { background-color: #f1c40f; color: black; }
.estado-revisado { background-color: #3498db; color: white; }
.estado-aprobado { background-color: #9b59b6; color: white; }
.estado-rechazado { background-color: #95a5a6; color: white; }
