
{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"><!DOCTYPE html>
<html>
  <body>
    <div class="contenedor-table2" style="margin-top: 50px; margin-bottom: 10px; margin-left: 40px">
      <h2 style="margin: 20px;">Chat Documento: {{ doc.name }}</h2>
  </div>
  <div class="contenedor-table3" style="margin-top: 50px; margin-left: auto; margin-right: auto; width: 70%;">
    <div class="scroll-messages" id="id_chat_item_container">
      {% for comentario in chat_messages %}
          <div>
              <p class="user-label"><strong>{{ comentario.author.username }}</strong></p>
          <br/>
              <div class="message-box" style="margin-bottom: 5px;">
                  {{ comentario.content }}
                  <p class="message-date"><em>{{ comentario.post_date }}</em></p>
              </div>
          </div>
          <br>
      {% endfor %}
  </div>
    <br />
    <div class="textarea-container">
      <input class="textarea-style" type="text" id="id_message_send_input" />
      <button class="btn btn-primary btn-enviar" type="submit" id="id_message_send_button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
        </svg>
      </button>
    </div>
    <script>
      function formatearFechaHora(fechaHoraString) {
        var partes = fechaHoraString.split(', ');
    
        var fechaParte = partes[0];
        var horaParte = partes[1];
    
        var fechaPartes = fechaParte.split('/');
        var dia = fechaPartes[0];
        var mesNumero = parseInt(fechaPartes[1]);
        var año = fechaPartes[2];
        var meses = [
            "enero", "febrero", "marzo", "abril", "mayo", "junio",
            "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"
        ];
        var mesNombre = meses[mesNumero - 1];
        var horaPartes = horaParte.split(':');
        var hora = horaPartes[0];
        var minutos = horaPartes[1];
        var fechaFormateada = dia + " de " + mesNombre + " de " + año + " a las " + hora + ":" + minutos;
    
        return fechaFormateada;
    }

      const chatSocket = new WebSocket("ws://" + window.location.host + "/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
      document.querySelector("#id_message_send_input").focus();
      document.querySelector("#id_message_send_input").onkeyup = function (e) {
        if (e.keyCode == 13) {
          document.querySelector("#id_message_send_button").click();
        }
      };
      document.querySelector("#id_message_send_button").onclick = function (e) {
        var document_id = "{{ document_id }}";
        var fechaActual = new Date();
        var fechaHoraActual = fechaActual.toLocaleString();
        var fechaFormateada =formatearFechaHora(fechaHoraActual)
        var messageInput = document.querySelector(
          "#id_message_send_input"
        ).value;
        chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}", doc_id: document_id, date: fechaFormateada}));
      };
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var div = document.createElement("div");

        var usernameElement = document.createElement("p");
        usernameElement.textContent = data.username;
        usernameElement.classList.add("user-label");

        var messageElement = document.createElement("div");
        messageElement.textContent = data.message;
        messageElement.classList.add("message-box");

        var dateElement = document.createElement("p");
        var italicDateElement = document.createElement("em");
        italicDateElement.textContent = data.date;
        italicDateElement.classList.add("message-date");
        
        var doc_id_elemet = data.doc_id;
        
        var salto = document.createElement("br");
        var salto2 = document.createElement("br");
        
        div.appendChild(usernameElement);
        div.appendChild(salto);
        div.appendChild(messageElement);
        dateElement.appendChild(italicDateElement)
        messageElement.appendChild(dateElement);
        div.appendChild(salto2);

        document.querySelector("#id_message_send_input").value = "";
        document.querySelector("#id_chat_item_container").appendChild(div);
        document.querySelector("#id_chat_item_container").appendChild(salto2);

      };
    </script>
  </body>
</html>
{% endblock %}
