{% extends 'base.html' %}
{% block title %}Calendario{% endblock %}
{% block encabezado %}{% endblock %}
{% block contenido %}

<!-- Modal -->
<div class="modal fade" id="eventoModal" tabindex="-1" role="dialog" aria-labelledby="eventoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventoModalLabel">Detalles del evento</h5>
        </div>
        <div class="modal-body">
          <div id="eventoDetalle">
            <h4 id="tituloEvento"></h4>
            <p id="descripcionEvento"></p>
            <p id="participantesEvento"></p>
            {% if user.is_superuser %}
                <button id="eliminarEventoBtn" class="btn btn-danger">Eliminar Evento</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

<div style="display: flex; margin-top: 20px; margin-left: 20px;">
    <div style="display: flex; flex-flow: column; justify-content: left; margin-left: 70px; margin-top: 70px;">
        {% if user.is_superuser %}
            <a href="{% url 'calendars:create_event' %}" style="margin-top: 30px; margin-bottom: 30px;" class="btn btn-orange">Crear Evento</a>
        {% endif %}

        <div class="legend-container">
            <div class="legend-item">
                <div style="width: 20px; height: 20px; background-color: red; border-radius: 50%; margin-right: 10px;"></div>
                <span>Aportaciones</span>
            </div>
            <div class="legend-item">
                <div style="width: 20px; height: 20px; background-color: green; border-radius: 50%; margin-right: 10px;"></div>
                <span>Votaciones</span>
            </div>
            <div class="legend-item">
                <div style="width: 20px; height: 20px; background-color: yellow; border-radius: 50%; margin-right: 10px;"></div>
                <span>Revisiones</span>
            </div>
            <div class="legend-item">
                <div style="width: 20px; height: 20px; background-color: blue; border-radius: 50%; margin-right: 10px;"></div>
                <span>Reuniones</span>
            </div>
        </div>
    </div>
    <div class="container" style="display:flex; justify-content: center;">
        <div id="calendario" style="width: 1100px; height: 800px;"></div>
    </div>
</div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/locale/es.js'></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendario');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                events: "/calendars/all_events",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                locale: 'es',
                selectable: true,
                selectHelper: true,
                eventLimit: true,
                eventDisplay: 'list-item',
                eventClick: function(info) {
                    var evento = info.event;
                    $('#tituloEvento').text(evento.title + ' - '+ evento.start.toLocaleString());
                    $('#descripcionEvento').text('Descripción: ' +evento.extendedProps.description); 
                    var participantes = 'Participantes: ' +'<br>'+ '<ul>';
                    evento.extendedProps.participantes.forEach(function(participante) {
                        participantes += '<li>' + participante.first_name + ' ' + participante.last_name + '</li>';
                    });
                    participantes += '</ul>';
                    $('#participantesEvento').html(participantes);
                    $('#descripcionEvento').css('max-height', $('#eventoDetalle').height() - $('#tituloEvento').outerHeight(true) - $('#participantesEvento').outerHeight(true) - 20);
                    $('#eliminarEventoBtn').attr('data-event-id', evento.id); // Añadir el id del evento al botón eliminar
                    $('#eventoModal').modal('show');
                }
            });
            calendar.render();
    
            // Función para manejar el click en el botón eliminar
            {% if user.is_superuser %}
                $('#eliminarEventoBtn').click(function() {
                    var eventId = $(this).attr('data-event-id');
                    window.location.href = "/calendars/delete/" + eventId;
                });
            {% endif %}
        });
    </script>

    <style>
        .legend-container {
            display: flex;
            flex-direction: column;
            background-color: #f5f5f5;
            border-radius: 10px;
            padding: 10px;
        }

        .legend-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        #descripcionEvento {
            word-wrap: break-word;
            max-height: 200px;
            overflow-y: auto;
        }

        #tituloEvento {
            word-wrap: break-word;
        }
    </style>

{% endblock %}
